.Rproj.user
.Rhistory
.RData
.Ruserdata
tmp/
growthtables*.csv
growthtables*.rds
Availability-by-Country.png
Availability-by-CountryFrUs.png
Availability-by-CountryFrUsCh.png
BetterCheaper-s.png
BetterCheaper.png
BetterCheaper2.png
BetterCheaper3-s.png
BetterCheaper3.png
BetterCheaper4-s.png
BetterCheaper4.png
Capacity-factor-by-country-2015.png
Capacity-factor-histogram.png
Global-lng-since-y2k-2023.png
ISP2024-decade-targets.png
ISP2024-growthIncrements-batteries.png
ISP2024-growthIncrements-wind-solar.png
June24-batteries11400baseload1200FAC2.png
June24-batteries11400baseload600FAC2.png
June24-batteries11500baseload1200FAC2.png
June24-batteries11500baseload600FAC2.png
June24-batteries11500nobaseloadFAC2.png
June24-batteries1p2baseload600BL.png
June24-batteries5500baseload1200-FAC14.png
June24-batteries5500baseload1200FAC2.png
June24-batteries5500baseload600FAC2.png
NEMWindSolar-May2024.png
Politician-expenses-23e424q1.png
ShinySolarWaste.png
ShortfallBattBl-Ofac.png
ShortfallBattBl-Ofac55D.png
ShortfallOfacBatt-Bl.png
ShortfallOfacBatt-Bl55D.png
World-PerCap-Electricity-Increments-10.png
World-PerCap-Electricity-Increments-20.png
World-PerCap-Electricity-Increments.png
abs-population-2024.png
britain-build-times.png
britain-op-range.png
britain-op-times.png
canada-build-times.png
canada-op-range.png
canada-op-times.png
china-build-times.png
china-op-range.png
china-op-times.png
cleanish-megawatt-hours-per-person-2023D.png
constraints20-21.png
disability-age.png
disability-color.png
disability-total-by-age.png
disability-type.png
embodied-co2-pv.png
employment-low-carbon.png
evinci-concept.png
france-op-range.png
french-build-times.png
french-nuclear-output-droughts.png
g1409.png
germany-build-times.png
germany-op-range.png
germany-op-times.png
global-gas-2023.png
global-oil-2023.png
ieefa-fitzsimmons.png
india-china-meat-2010-2021.png
japan-build-times.png
japan-op-range.png
japan-op-times.png
land-use-treemap-exp.png
land-use-treemap.png
lca-materials.png
lovering-build-duration.png
major-gas-2023.png
major-oil-2023.png
max-min-over-4hrs-in-24hrs.png
megawatt-hours-per-person-increase-2023D.png
natural-graphite-2020.png
netherlands-build-times.png
netherlands-op-range.png
netherlands-op-times.png
newplot-fra-deu-aus.png
non-hydro-renewables.png
owid-2020-ghg-aus.png
owid-co2-australia-2021.png
per-person-global-gas-2023.png
per-person-global-oil-2023.png
research-reactors-by-country2024.png
rollout-top-2021D-20-over-20-years-GCOSWHNBS.png
rollout-top-2021D-20-over-20-years-SWHNBS.png
rollout-top-2021D-20-over-7-years-GCOSWHNBS.png
rollout-top-2021D-30-over-10-years-GCOSWHNBS.png
rollout-top-2021D-30-over-10-years-SWHNBS.png
rollout-top-2021D-30-over-15-years-GCOSWHNBS.png
rollout-top-2023D-20-over-20-years-BCGHNOSSW.png
rollout-top-2023D-20-over-20-years-BHNSSW.png
rollout-top-2023D-20-over-20-years-GCOSWHNBS.png
rollout-top-2023D-20-over-20-years-SWHNBS.png
rollout-top-2023D-20-over-7-years-BCGHNOSSW.png
rollout-top-2023D-20-over-7-years-GCOSWHNBS.png
rollout-top-2023D-30-over-10-years-BCGHNOSSW.png
rollout-top-2023D-30-over-10-years-BHNSSW.png
rollout-top-2023D-30-over-10-years-GCOSWHNBS.png
rollout-top-2023D-30-over-10-years-SWHNBS.png
rollout-top-2023D-30-over-15-years-BCGHNOSSW.png
rollout-top-2023D-30-over-15-years-GCOSWHNBS.png
rollout-top-2024-20-over-20-years-BCGHNOSSW.png
rollout-top-2024-20-over-20-years-BHNSSW.png
rollout-top-2024-20-over-7-years-BCGHNOSSW.png
rollout-top-2024-30-over-10-years-BCGHNOSSW.png
rollout-top-2024-30-over-10-years-BHNSSW.png
rollout-top-2024-30-over-15-years-BCGHNOSSW.png
rollout-top-over20m-2024-30-over-10-years-BCGHNOSSW.png
rollout-top-over20m-2024-30-over-10-years-BHNSSW.png
rollout-top20-over-20-years-SWHNBS.png
russia-build-times.png
russia-op-range.png
russia-op-times.png
selectedCompoundGrowthRates-EuDeuDenSweAusSpa-2021D.png
selectedCompoundGrowthRates-EuDeuDenSweAusSpa-2023D.png
selectedCompoundGrowthRates-EuDeuDenSweAusSpa-2024.png
selectedCompoundGrowthRates-EuDeuDenSweAusSpa.png
selectedCompoundGrowthRates-GerDenSweAus.png
sheet-summary1-aus-crf-2023-2020.png
solar-growth-rates-by-top-countries-2000-2020-2021D.png
solar-growth-rates-by-top-countries-2000-2020-2023D.png
solar-growth-rates-by-top-countries-2000-2020-2024.png
solarwaste-100gwnow-recyclegrowth12.png
solarwaste-recycle100now-growth16.png
statistic_id263933_vegetable-oils_-production-worldwide-2012-13-2021-22-by-type.png
sthkorea-build-times.png
sthkorea-op-range.png
sthkorea-op-times.png
swiss-op-range.png
thorcon-pop-energy-new-2022.png
thorcon-pop-energy-new-octile-2022.png
thorcon-pop-energy-new-octile.png
thorcon-pop-energy-new.png
ukraine-op-range.png
unfccc-aus-2022-2020-summary2.png
us-non-hydro-renewables.png
usa-build-times.png
usa-op-range.png
usa-op-times.png
wix-problem-in-msedge.png
wix-technical-issue.png
wsh-growth-2000-2020-2021D.png
wsh-growth-2000-2020-2023D.png
wsh-growth-2000-2020-2024.png
wsh-growthrate-2000-2020-2021D.png
wsh-growthrate-2000-2020-2023D.png
wsh-growthrate-2000-2020-2024.png
zaporizhzhia-nuclear-plant.png
